[defaults]
inventory = inventory
vault_password_file = vault_pass.txt
host_key_checking = False
timeout = 30
retry_files_enabled = False
command_timeout = 60
deprecation_warnings=False

[ssh_connection]
pipelining = True

